.form-container {
  padding: 120px 48px 80px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  width: 100vw;

  background-color: #E5C9D6;
  // background-image: linear-gradient(180deg, #B1D5E1, rgba(255,255,255,0));

  h2 {
    padding-bottom: 48px;
  }

  h1 {
    line-height: 0.75;
    transition: font-size 0.8s ease;
    font-size: 64px;
  }

  h1 span {
    padding-left: 48px;
    padding-bottom: 48px;
  }
  p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding-top: 16px;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  h1:hover {
    font-size: 88px;
  }
  h6 {
    font-size: 24px;
    padding-top: 24px;
  }
}


.form-check label {
  text-transform: capitalize;
  font-weight: normal;
}

.panel-body .btn {
  padding-left: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  transition: font-size 0.8s ease;
}

.panel-body .btn:hover {
  font-size: 16px;
}
