/* Hero styling */



.hero {
  height: 100vh;
  width: 100%;

  position: relative;
  // top: 32%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  background-color: #E5C9D6;
  background-image: linear-gradient(180deg, #B1D5E1, rgba(255,255,255,0));
  .hero-content {
    position: absolute;
    width: 100vw;
    height: 100vh;

    z-index: 3;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: -4px 3px 0 #FFF;
      font-size: 136px;
      line-height: 0.8;
      transition: font-size 0.8s ease;
      margin: 0 0 32px 0;
    }
  }
  h6 {
    font-size: 24px;
    padding-left: 8vw;
    position: absolute;
    top: 312px;
    z-index: 3;
    // just for now
    display: none;
    // left: 50%;
    // transform: translate(-50%, 0);
  }
  span {
    padding-left: 56px;
    font-size: 160px;
  }

  .hero-text {
    position: absolute;
    top: 0;
    left: 60%;
    transform: translate(-60%, 0);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    line-height: 1;
    padding-top: 32px;
  }
  .hero-text h4 {
    font-size: 24px;
  }
}

.member-buttons {
  display: flex;
  justify-content: space-between;
  width: 184px;
}

.member-buttons a {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #FFF;
  border-radius: 24px;
  border: solid 1px #000;
  padding: 8px 16px;
  font-size: 12px;
  transition: background-color 0.8s ease;
  transition: color 1s ease;
  a:hover {
    background-color: #000;
    color: #FFF;
    // border: solid 1px #FFF;
  }
}


.recipes-index-container {
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 80px;

  background-color: #FFF;
  background-image: linear-gradient(180deg, #E0CBD8, rgba(255,255,255,0));

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  h1 {
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
    z-index: 3;
  }
}

.recipes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;

}

.box {
  width: 280px;
  height: 280px;
  background-color: #FFF;
  // border-radius: 96px;
  position: relative;
  z-index: 2;
}

.recipe {
  position: relative;
  img {
    width: 280px;
    height: 280px;
    // border-radius: 96px;
    border: solid 1px #FFF;
    transition: opacity 0.8s ease;
    transition: border 0.4s ease;
  }
  .recipe-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    transition: visibility 0.8s ease-in;
    transition: visibility 0.4s ease-out;
  }
  a {
    color: #000;
    text-align: center;
  }
}

.recipe:hover {
  img {
    opacity: 0.2;
    border: solid 1px #FFF;
  }
  .recipe-info {
    visibility: visible;
  }
}

.recipe-info p span {
  font-weight: bold;
}

// .cupcake-home {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100vw;
//   height: 110vh;
//   z-index: 2;
//   background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1597768826/cupcake-edit_seplnl.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: top;
//   opacity: 0.4;
// }

.bottom-row {
  position: absolute;
  bottom: 24px;
  left: 48px;
}

.bottom-row a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}


// JS classes
.hero-content h1.scrolled {
  font-size: 24px;
  transform: translate(-50%, 0);
  position: fixed;
  top: 16px;
  margin: 0;
}

// iPad Pro & iPad landscape
@media (max-width: 1024px) {
  .recipes-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 96px;
  }
}

// iPad portrait
@media (max-width: 768px) {
  .recipes-container {
    grid-template-columns: 1fr;
  }
}
