.show-container {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #FFF;

  padding-bottom: 24px;

  h1, p, span {
    text-align: center;
    margin: 0;
    line-height: 2;
  }
  span {
    font-weight: bold;
  }
}


.row-1 {
  display: flex;

  width: 100vw;
  height: 100vh;
  img {
    width: 60vw;
    height: inherit;

    // z-index: 3;
  }
  .show-description {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;

  width: 40vw;
  padding: 0 24px;
  }
}

// Sans Serif font for h1, h2 and h6 on the show page
.roboto {
  font-family: "Roboto Condensed", "sans-serif", 'Helvetica';
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 64px;
}

.show-numbers {
  padding: 48px 0;
}

.links {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  transition: text-decoration 0.8s ease;
}

.show-buttons a:hover, .ingredients-container a:hover, .directions-container a:hover {
  text-decoration: underline;
}

.row-2 {
  width: 880px;

  margin-top: 96px;
  padding-bottom: 64px;

  display: flex;
  justify-content: space-between;
  .directions-container {
    width: 480px;
  }
}

.ingredients-container {
  width: 320px;
  p, h2 {
    text-align: left;
  }
  p {
    line-height: 1;
  }
}

.direction-single {
  display: flex;
  align-items: center;

  padding-bottom: 40px;
  p {
    text-align: left;
    line-height: 2;
  }
  h6 {
    padding-right: 40px;
    padding-top: 0;
  }
}

.phone {
  visibility: hidden;
}


// CHECKBOXES FOR INGREDIENTS
/* Customize the label (the container) */
.container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 40px;
  // margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label {
  margin: 0;
  padding: 0;
  height: 25px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #E5C9D6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-nav {
  visibility: hidden;
}


@media (max-width: 1024px) {
  .row-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  .row-1 img {
    width: 100vw;
    height: auto;
  }

  .show-description {
    padding-bottom: 32px !important;
    width: 100vw !important;
    // border-bottom: solid 1px #000;
  }

  .row-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }

  .ingredients-container h2, .directions-container h2 {
    text-align: center;
    padding-bottom: 24px;
  }
  .links {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .row-2 {
    margin-top: 40px;
  }
  .mobile-nav {
    visibility: visible;

    display: flex;
    justify-content: space-evenly;
    width: 100vw;
  }
}

@media (max-width: 600px) {
  .ingredients-container {
    width: 360px !important;
  }
  .directions-container {
    width: 360px !important;
    padding-left: 24px;
    padding-right: 24px;
  }
  .direction-single h6 {
    padding-right: 24px;
  }
  // .links a {
  //   padding-bottom: 48px !important;
  // }
  // .phone {
  //   visibility: visible;
  // }
}

@media (max-width: 414px) {
  .ingredients-container, .directions-container {
    width: 280px !important;
  }
  .mobile-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
