div.index-container {
  padding-top: 32px;
  h1 {
    text-align: center;
    padding-bottom: 32px;
  }
}

div.row {
  padding-bottom: 64px;
  margin: none;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


div.col {
  flex-grow: 0;
}

.recipe {
  border: solid 1px rgba(0,0,0,0.5);
  a {
    text-decoration: none;
  }
  h2 {
    padding: 8px 0 8px 0;

    text-transform: capitalize;
    font-size: 16px;
    text-align: center;

    color: #000;
  }
}
