<div class="form-edit-container form-container">
  <%= link_to root_path do %>
    <h1>Vegan
      <br>
      <span>Bakes</span>
    </h1>
  <% end %>
  <h6>Edit Recipe</h6>

  <%= render "form" %>

</div>
