<div class="index-container">
  <div class="hero">
    <h1>
      Vegan
      <br>
      <span>Bakes.</span>
    </h1>
    <div class="hero-circle">
      <p>Scroll for recipes...</p>
    </div>
    <!-- TODO Get image showing and reduce transparency -->
    <img src="cupcake-home.jpg" alt="">
  </div>

  <div class="recipes-index-container">
    <h1>Plant Based Treats</h1>

    <div class="recipes-container">
      <% @recipe.each_slice(3) do |recipes| %>
        <div class="row">
          <% recipes.each do |recipe| %>
            <div class="col">
              <div class="recipe">
                <div class="image-wrapper">
                  <%= link_to recipe do %>
                    <%= cl_image_tag recipe.image.key, width: 280, height: 280, crop: :fill %>
                    <h2><%= link_to recipe.title, recipe_path(recipe) %></h2>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
