<div class="nav-container">
  <div class="logo-box">
  </div>

  <div class="menu">
    <ul>
      <%= link_to "New Recipe", new_recipe_path %>
      <%= link_to "Sign Out", root_path %>
    </ul>
  </div>
</div>
