.nav-container {
  width: 100vw;
  height: 80px;
  padding: 24px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: solid 1px #CCC;
}

.logo-box {
  width: 32px;
  height: 32px;
  background-color: red;
}

.menu {
  display: flex;
  align-items: center;
  ul {
    margin: 0;
  }
}
